In [1]:
import pandas as pd
import yfinance as yf
from sqlalchemy import create_engine
import ta

In [2]:
engine = create_engine('sqlite:///Section 14 Video 72 SNP 500 Stocks DataBase.db')

In [3]:
names = pd.read_sql("SELECT name FROM sqlite_master WHERE type = 'table'", engine)
names = names['name'].to_list()

In [12]:
framelist = []

for name in names:
    framelist.append(pd.read_sql(f'SELECT Date, Close FROM "{name}"', engine).set_index('Date'))

In [13]:
framelist

[                                 Close
 Date
 2010-01-04 00:00:00.000000   69.414719
 2010-01-05 00:00:00.000000   68.979935
 2010-01-06 00:00:00.000000   69.958191
 2010-01-07 00:00:00.000000   70.008362
 2010-01-08 00:00:00.000000   70.501671
 ...                                ...
 2024-09-03 00:00:00.000000  130.850006
 2024-09-04 00:00:00.000000  132.149994
 2024-09-05 00:00:00.000000  131.399994
 2024-09-06 00:00:00.000000  128.600006
 2024-09-09 00:00:00.000000  128.460007

 [3695 rows x 1 columns],
                                 Close
 Date
 2010-01-04 00:00:00.000000   7.435000
 2010-01-05 00:00:00.000000   7.340000
 2010-01-06 00:00:00.000000   7.343333
 2010-01-07 00:00:00.000000   7.365000
 2010-01-08 00:00:00.000000   7.473333
 ...                               ...
 2024-09-03 00:00:00.000000  81.260002
 2024-09-04 00:00:00.000000  80.349998
 2024-09-05 00:00:00.000000  77.860001
 2024-09-06 00:00:00.000000  76.910004
 2024-09-09 00:00:00.000000  77.889999

 [3695 rows x 1 columns],
                                  Close
 Date
 2010-01-04 00:00:00.000000   26.129908
 2010-01-05 00:00:00.000000   25.918797
 2010-01-06 00:00:00.000000   26.062737
 2010-01-07 00:00:00.000000   26.278646
 2010-01-08 00:00:00.000000   26.412991
 ...                                ...
 2024-09-03 00:00:00.000000  114.660004
 2024-09-04 00:00:00.000000  114.400002
 2024-09-05 00:00:00.000000  113.099998
 2024-09-06 00:00:00.000000  113.860001
 2024-09-09 00:00:00.000000  116.430000

 [3695 rows x 1 columns],
                                  Close
 Date
 2013-01-02 00:00:00.000000   35.119999
 2013-01-03 00:00:00.000000   34.830002
 2013-01-04 00:00:00.000000   34.389999
 2013-01-07 00:00:00.000000   34.459999
 2013-01-08 00:00:00.000000   33.709999
 ...                                ...
 2024-09-03 00:00:00.000000  197.690002
 2024-09-04 00:00:00.000000  197.009995
 2024-09-05 00:00:00.000000  192.860001
 2024-09-06 00:00:00.000000  193.399994
 2024-09-09 00:00:00.000000  196.419998

 [2941 rows x 1 columns],
                                  Close
 Date
 2010-01-04 00:00:00.000000   42.070000
 2010-01-05 00:00:00.000000   42.330002
 2010-01-06 00:00:00.000000   42.779999
 2010-01-07 00:00:00.000000   42.740002
 2010-01-08 00:00:00.000000   42.570000
 ...                                ...
 2024-09-03 00:00:00.000000  341.880005
 2024-09-04 00:00:00.000000  343.989990
 2024-09-05 00:00:00.000000  340.929993
 2024-09-06 00:00:00.000000  339.839996
 2024-09-09 00:00:00.000000  341.809998

 [3695 rows x 1 columns],
                                  Close
 Date
 2010-01-04 00:00:00.000000   37.090000
 2010-01-05 00:00:00.000000   37.700001
 2010-01-06 00:00:00.000000   37.619999
 2010-01-07 00:00:00.000000   36.889999
 2010-01-08 00:00:00.000000   36.689999
 ...                                ...
 2024-09-03 00:00:00.000000  571.039978
 2024-09-04 00:00:00.000000  575.250000
 2024-09-05 00:00:00.000000  567.929993
 2024-09-06 00:00:00.000000  563.409973
 2024-09-09 00:00:00.000000  569.880005

 [3695 rows x 1 columns],
                                  Close
 Date
 2010-01-04 00:00:00.000000    9.700000
 2010-01-05 00:00:00.000000    9.710000
 2010-01-06 00:00:00.000000    9.570000
 2010-01-07 00:00:00.000000    9.470000
 2010-01-08 00:00:00.000000    9.430000
 ...                                ...
 2024-09-03 00:00:00.000000  136.940002
 2024-09-04 00:00:00.000000  140.869995
 2024-09-05 00:00:00.000000  139.440002
 2024-09-06 00:00:00.000000  134.350006
 2024-09-09 00:00:00.000000  138.149994

 [3695 rows x 1 columns],
                                 Close
 Date
 2010-01-04 00:00:00.000000  13.670000
 2010-01-05 00:00:00.000000  13.530000
 2010-01-06 00:00:00.000000  13.390000
 2010-01-07 00:00:00.000000  13.400000
 2010-01-08 00:00:00.000000  13.780000
 ...                               ...
 2024-09-03 00:00:00.000000  16.750000
 2024-09-04 00:00:00.000000  16.940001
 2024-09-05 00:00:00.000000  16.940001
 2024-09-06 00:00:00.000000  16.190001
 2024-09-09 00:00:00.000000  16.200001

 [3695 rows x 1 columns],
                                  Close
 Date
 2010-01-04 00:00:00.000000   23.785000
 2010-01-05 00:00:00.000000   24.475000
 2010-01-06 00:00:00.000000   24.690001
 2010-01-07 00:00:00.000000   24.955000
 2010-01-08 00:00:00.000000   24.705000
 ...                                ...
 2024-09-03 00:00:00.000000  109.070000
 2024-09-04 00:00:00.000000  110.489998
 2024-09-05 00:00:00.000000  109.690002
 2024-09-06 00:00:00.000000  108.889999
 2024-09-09 00:00:00.000000  109.400002

 [3695 rows x 1 columns],
                                  Close
 Date
 2010-01-04 00:00:00.000000   22.389128
 2010-01-05 00:00:00.000000   22.145924
 2010-01-06 00:00:00.000000   22.067240
 2010-01-07 00:00:00.000000   22.038628
 2010-01-08 00:00:00.000000   22.031473
 ...                                ...
 2024-09-03 00:00:00.000000  138.960007
 2024-09-04 00:00:00.000000  138.160004
 2024-09-05 00:00:00.000000  138.360001
 2024-09-06 00:00:00.000000  137.199997
 2024-09-09 00:00:00.000000  138.089996

 [3695 rows x 1 columns],
                                  Close
 Date
 2010-01-04 00:00:00.000000   76.928772
 2010-01-05 00:00:00.000000   76.290474
 2010-01-06 00:00:00.000000   75.661423
 2010-01-07 00:00:00.000000   75.226639
 2010-01-08 00:00:00.000000   75.707680
 ...                                ...
 2024-09-03 00:00:00.000000  275.190002
 2024-09-04 00:00:00.000000  274.670013
 2024-09-05 00:00:00.000000  273.549988
 2024-09-06 00:00:00.000000  268.709991
 2024-09-09 00:00:00.000000  273.820007

 [3695 rows x 1 columns],
                                  Close
 Date
 2020-12-10 00:00:00.000000  144.710007
 2020-12-11 00:00:00.000000  139.250000
 2020-12-14 00:00:00.000000  130.000000
 2020-12-15 00:00:00.000000  124.800003
 2020-12-16 00:00:00.000000  137.990005
 ...                                ...
 2024-09-03 00:00:00.000000  114.980003
 2024-09-04 00:00:00.000000  115.209999
 2024-09-05 00:00:00.000000  116.160004
 2024-09-06 00:00:00.000000  114.279999
 2024-09-09 00:00:00.000000  116.360001

 [941 rows x 1 columns],
                                  Close
 Date
 2010-01-04 00:00:00.000000   25.920000
 2010-01-05 00:00:00.000000   26.690001
 2010-01-06 00:00:00.000000   26.469999
 2010-01-07 00:00:00.000000   26.480000
 2010-01-08 00:00:00.000000   26.480000
 ...                                ...
 2024-09-03 00:00:00.000000   99.959999
 2024-09-04 00:00:00.000000  100.129997
 2024-09-05 00:00:00.000000   99.120003
 2024-09-06 00:00:00.000000   96.540001
 2024-09-09 00:00:00.000000   95.070000

 [3695 rows x 1 columns],
                                 Close
 Date
 2010-01-04 00:00:00.000000  38.090000
 2010-01-05 00:00:00.000000  38.020000
 2010-01-06 00:00:00.000000  38.090000
 2010-01-07 00:00:00.000000  37.820000
 2010-01-08 00:00:00.000000  38.389999
 ...                               ...
 2024-09-03 00:00:00.000000  84.120003
 2024-09-04 00:00:00.000000  84.750000
 2024-09-05 00:00:00.000000  82.599998
 2024-09-06 00:00:00.000000  76.900002
 2024-09-09 00:00:00.000000  78.410004

 [3695 rows x 1 columns],
                                  Close
 Date
 2010-01-04 00:00:00.000000   63.549999
 2010-01-05 00:00:00.000000   62.880001
 2010-01-06 00:00:00.000000   62.549999
 2010-01-07 00:00:00.000000   63.130001
 2010-01-08 00:00:00.000000   62.919998
 ...                                ...
 2024-09-03 00:00:00.000000  118.430000
 2024-09-04 00:00:00.000000  117.589996
 2024-09-05 00:00:00.000000  117.379997
 2024-09-06 00:00:00.000000  116.290001
 2024-09-09 00:00:00.000000  118.250000

 [3695 rows x 1 columns],
                                  Close
 Date
 2010-01-04 00:00:00.000000   18.500000
 2010-01-05 00:00:00.000000   18.010000
 2010-01-06 00:00:00.000000   17.480000
 2010-01-07 00:00:00.000000   17.430000
 2010-01-08 00:00:00.000000   17.660000
 ...                                ...
 2024-09-03 00:00:00.000000  226.500000
 2024-09-04 00:00:00.000000  222.339996
 2024-09-05 00:00:00.000000  226.520004
 2024-09-06 00:00:00.000000  221.149994
 2024-09-09 00:00:00.000000  221.380005

 [3695 rows x 1 columns],
                                  Close
 Date
 2013-11-18 00:00:00.000000   48.480000
 2013-11-19 00:00:00.000000   45.799999
 2013-11-20 00:00:00.000000   44.650002
 2013-11-21 00:00:00.000000   43.790001
 2013-11-22 00:00:00.000000   43.990002
 ...                                ...
 2024-09-03 00:00:00.000000  137.000000
 2024-09-04 00:00:00.000000  137.350006
 2024-09-05 00:00:00.000000  135.690002
 2024-09-06 00:00:00.000000  134.500000
 2024-09-09 00:00:00.000000  134.559998

 [2719 rows x 1 columns],
                                 Close
 Date
 2010-01-04 00:00:00.000000  15.175000
 2010-01-05 00:00:00.000000  15.530000
 2010-01-06 00:00:00.000000  15.650000
 2010-01-07 00:00:00.000000  15.735000
 2010-01-08 00:00:00.000000  16.040001
 ...                               ...
 2024-09-03 00:00:00.000000  58.790001
 2024-09-04 00:00:00.000000  59.130001
 2024-09-05 00:00:00.000000  58.970001
 2024-09-06 00:00:00.000000  58.580002
 2024-09-09 00:00:00.000000  59.250000

 [3695 rows x 1 columns],
                                  Close
 Date
 2010-01-04 00:00:00.000000   30.410000
 2010-01-05 00:00:00.000000   30.910000
 2010-01-06 00:00:00.000000   30.920000
 2010-01-07 00:00:00.000000   31.080000
 2010-01-08 00:00:00.000000   31.209999
 ...                                ...
 2024-09-03 00:00:00.000000  189.199997
 2024-09-04 00:00:00.000000  189.869995
 2024-09-05 00:00:00.000000  185.759995
 2024-09-06 00:00:00.000000  185.360001
 2024-09-09 00:00:00.000000  187.199997

 [3695 rows x 1 columns],
                                  Close
 Date
 2010-01-04 00:00:00.000000   15.684434
 2010-01-05 00:00:00.000000   15.615365
 2010-01-06 00:00:00.000000   15.221722
 2010-01-07 00:00:00.000000   14.867367
 2010-01-08 00:00:00.000000   15.065566
 ...                                ...
 2024-09-03 00:00:00.000000  157.360001
 2024-09-04 00:00:00.000000  156.449997
 2024-09-05 00:00:00.000000  157.240005
 2024-09-06 00:00:00.000000  150.919998
 2024-09-09 00:00:00.000000  148.710007

 [3695 rows x 1 columns],
                                  Close
 Date
 2010-01-04 00:00:00.000000   15.610239
 2010-01-05 00:00:00.000000   15.541497
 2010-01-06 00:00:00.000000   15.149715
 2010-01-07 00:00:00.000000   14.797037
 2010-01-08 00:00:00.000000   14.994298
 ...                                ...
 2024-09-03 00:00:00.000000  158.610001
 2024-09-04 00:00:00.000000  157.809998
 2024-09-05 00:00:00.000000  158.600006
 2024-09-06 00:00:00.000000  152.130005
 2024-09-09 00:00:00.000000  149.539993

 [3695 rows x 1 columns],
                                 Close
 Date
 2010-01-04 00:00:00.000000  19.790001
 2010-01-05 00:00:00.000000  19.799999
 2010-01-06 00:00:00.000000  20.090000
 2010-01-07 00:00:00.000000  20.059999
 2010-01-08 00:00:00.000000  20.110001
 ...                               ...
 2024-09-03 00:00:00.000000  54.070000
 2024-09-04 00:00:00.000000  54.709999
 2024-09-05 00:00:00.000000  54.270000
 2024-09-06 00:00:00.000000  53.689999
 2024-09-09 00:00:00.000000  54.130001

 [3695 rows x 1 columns],
                                  Close
 Date
 2010-01-04 00:00:00.000000    6.695000
 2010-01-05 00:00:00.000000    6.734500
 2010-01-06 00:00:00.000000    6.612500
 2010-01-07 00:00:00.000000    6.500000
 2010-01-08 00:00:00.000000    6.676000
 ...                                ...
 2024-09-03 00:00:00.000000  176.250000
 2024-09-04 00:00:00.000000  173.330002
 2024-09-05 00:00:00.000000  177.889999
 2024-09-06 00:00:00.000000  171.389999
 2024-09-09 00:00:00.000000  175.399994

 [3695 rows x 1 columns],
                             Close
 Date
 2012-05-15 00:00:00.000000   7.70
 2012-05-16 00:00:00.000000   7.70
 2012-05-17 00:00:00.000000   7.70
 2012-05-18 00:00:00.000000   7.70
 2012-05-21 00:00:00.000000   7.70
 ...                           ...
 2024-09-03 00:00:00.000000  11.31
 2024-09-04 00:00:00.000000  11.33
 2024-09-05 00:00:00.000000  11.22
 2024-09-06 00:00:00.000000  11.08
 2024-09-09 00:00:00.000000  11.10

 [3099 rows x 1 columns],
                                 Close
 Date
 2010-01-04 00:00:00.000000  27.760000
 2010-01-05 00:00:00.000000  27.650000
 2010-01-06 00:00:00.000000  27.459999
 2010-01-07 00:00:00.000000  27.200001
 2010-01-08 00:00:00.000000  27.010000
 ...                               ...
 2024-09-03 00:00:00.000000  83.279999
 2024-09-04 00:00:00.000000  83.820000
 2024-09-05 00:00:00.000000  83.739998
 2024-09-06 00:00:00.000000  83.160004
 2024-09-09 00:00:00.000000  84.589996

 [3695 rows x 1 columns],
                             Close
 Date
 2010-01-04 00:00:00.000000   4.77
 2010-01-05 00:00:00.000000   5.31
 2010-01-06 00:00:00.000000   5.09
 2010-01-07 00:00:00.000000   5.24
 2010-01-08 00:00:00.000000   5.14
 ...                           ...
 2024-09-03 00:00:00.000000  10.60
 2024-09-04 00:00:00.000000  10.63
 2024-09-05 00:00:00.000000  10.80
 2024-09-06 00:00:00.000000  10.80
 2024-09-09 00:00:00.000000  11.22

 [3695 rows x 1 columns],
                                  Close
 Date
 2010-01-04 00:00:00.000000   34.939999
 2010-01-05 00:00:00.000000   34.540001
 2010-01-06 00:00:00.000000   34.889999
 2010-01-07 00:00:00.000000   35.189999
 2010-01-08 00:00:00.000000   35.610001
 ...                                ...
 2024-09-03 00:00:00.000000  101.570000
 2024-09-04 00:00:00.000000  102.430000
 2024-09-05 00:00:00.000000  103.099998
 2024-09-06 00:00:00.000000  102.050003
 2024-09-09 00:00:00.000000  103.660004

 [3695 rows x 1 columns],
                                  Close
 Date
 2010-01-04 00:00:00.000000   40.919998
 2010-01-05 00:00:00.000000   40.830002
 2010-01-06 00:00:00.000000   41.490002
 2010-01-07 00:00:00.000000   41.980000
 2010-01-08 00:00:00.000000   41.950001
 ...                                ...
 2024-09-03 00:00:00.000000  254.309998
 2024-09-04 00:00:00.000000  251.740005
 2024-09-05 00:00:00.000000  251.839996
 2024-09-06 00:00:00.000000  244.059998
 2024-09-09 00:00:00.000000  250.919998

 [3695 rows x 1 columns],
                                 Close
 Date
 2010-01-04 00:00:00.000000  29.889999
 2010-01-05 00:00:00.000000  29.330000
 2010-01-06 00:00:00.000000  29.139999
 2010-01-07 00:00:00.000000  28.580000
 2010-01-08 00:00:00.000000  29.340000
 ...                               ...
 2024-09-03 00:00:00.000000  76.029999
 2024-09-04 00:00:00.000000  76.690002
 2024-09-05 00:00:00.000000  73.839996
 2024-09-06 00:00:00.000000  71.910004
 2024-09-09 00:00:00.000000  72.820000

 [3695 rows x 1 columns],
                                  Close
 Date
 2010-01-04 00:00:00.000000   43.459999
 2010-01-05 00:00:00.000000   44.180000
 2010-01-06 00:00:00.000000   44.410000
 2010-01-07 00:00:00.000000   44.290001
 2010-01-08 00:00:00.000000   44.380001
 ...                                ...
 2024-09-03 00:00:00.000000  230.369995
 2024-09-04 00:00:00.000000  232.520004
 2024-09-05 00:00:00.000000  233.639999
 2024-09-06 00:00:00.000000  236.160004
 2024-09-09 00:00:00.000000  238.529999

 [3695 rows x 1 columns],
                                  Close
 Date
 2010-01-04 00:00:00.000000   22.650000
 2010-01-05 00:00:00.000000   22.879999
 2010-01-06 00:00:00.000000   23.000000
 2010-01-07 00:00:00.000000   23.049999
 2010-01-08 00:00:00.000000   23.000000
 ...                                ...
 2024-09-03 00:00:00.000000  143.479996
 2024-09-04 00:00:00.000000  144.149994
 2024-09-05 00:00:00.000000  144.509995
 2024-09-06 00:00:00.000000  143.940002
 2024-09-09 00:00:00.000000  146.009995

 [3695 rows x 1 columns],
                                  Close
 Date
 2010-01-04 00:00:00.000000   39.880001
 2010-01-05 00:00:00.000000   40.810001
 2010-01-06 00:00:00.000000   41.380001
 2010-01-07 00:00:00.000000   41.689999
 2010-01-08 00:00:00.000000   41.840000
 ...                                ...
 2024-09-03 00:00:00.000000  441.959991
 2024-09-04 00:00:00.000000  442.910004
 2024-09-05 00:00:00.000000  439.549988
 2024-09-06 00:00:00.000000  430.170013
 2024-09-09 00:00:00.000000  436.350006

 [3695 rows x 1 columns],
                                  Close
 Date
 2010-01-04 00:00:00.000000   17.155556
 2010-01-05 00:00:00.000000   17.080000
 2010-01-06 00:00:00.000000   17.097778
 2010-01-07 00:00:00.000000   17.142221
 2010-01-08 00:00:00.000000   17.475555
 ...                                ...
 2024-09-03 00:00:00.000000  166.679993
 2024-09-04 00:00:00.000000  167.490005
 2024-09-05 00:00:00.000000  165.149994
 2024-09-06 00:00:00.000000  163.639999
 2024-09-09 00:00:00.000000  164.300003

 [3695 rows x 1 columns],
                                  Close
 Date
 2010-01-04 00:00:00.000000   57.720001
 2010-01-05 00:00:00.000000   57.220001
 2010-01-06 00:00:00.000000   56.790001
 2010-01-07 00:00:00.000000   56.270000
 2010-01-08 00:00:00.000000   56.770000
 ...                                ...
 2024-09-03 00:00:00.000000  330.510010
 2024-09-04 00:00:00.000000  330.640015
 2024-09-05 00:00:00.000000  324.359985
 2024-09-06 00:00:00.000000  320.559998
 2024-09-09 00:00:00.000000  325.920013

 [3695 rows x 1 columns],
                                 Close
 Date
 2010-01-04 00:00:00.000000   5.742500
 2010-01-05 00:00:00.000000   5.622500
 2010-01-06 00:00:00.000000   5.643750
 2010-01-07 00:00:00.000000   5.606250
 2010-01-08 00:00:00.000000   5.647500
 ...                               ...
 2024-09-03 00:00:00.000000  61.910000
 2024-09-04 00:00:00.000000  61.299999
 2024-09-05 00:00:00.000000  61.860001
 2024-09-06 00:00:00.000000  59.849998
 2024-09-09 00:00:00.000000  60.730000

 [3695 rows x 1 columns],
                                  Close
 Date
 2010-01-04 00:00:00.000000   31.670000
 2010-01-05 00:00:00.000000   31.620001
 2010-01-06 00:00:00.000000   31.559999
 2010-01-07 00:00:00.000000   31.309999
 2010-01-08 00:00:00.000000   31.490000
 ...                                ...
 2024-09-03 00:00:00.000000  218.710007
 2024-09-04 00:00:00.000000  221.800003
 2024-09-05 00:00:00.000000  219.059998
 2024-09-06 00:00:00.000000  213.639999
 2024-09-09 00:00:00.000000  218.559998

 [3695 rows x 1 columns],
                                  Close
 Date
 2010-01-04 00:00:00.000000   44.639999
 2010-01-05 00:00:00.000000   43.639999
 2010-01-06 00:00:00.000000   43.349998
 2010-01-07 00:00:00.000000   43.459999
 2010-01-08 00:00:00.000000   43.759998
 ...                                ...
 2024-09-03 00:00:00.000000  309.019989
 2024-09-04 00:00:00.000000  308.809998
 2024-09-05 00:00:00.000000  309.750000
 2024-09-06 00:00:00.000000  305.040009
 2024-09-09 00:00:00.000000  309.700012

 [3695 rows x 1 columns],
                                  Close
 Date
 2010-01-04 00:00:00.000000   37.939999
 2010-01-05 00:00:00.000000   37.700001
 2010-01-06 00:00:00.000000   37.689999
 2010-01-07 00:00:00.000000   37.580002
 2010-01-08 00:00:00.000000   37.889999
 ...                                ...
 2024-09-03 00:00:00.000000  346.299988
 2024-09-04 00:00:00.000000  348.549988
 2024-09-05 00:00:00.000000  348.799988
 2024-09-06 00:00:00.000000  348.029999
 2024-09-09 00:00:00.000000  350.489990

 [3695 rows x 1 columns],
                                  Close
 Date
 2010-01-04 00:00:00.000000  105.870003
 2010-01-05 00:00:00.000000  107.120003
 2010-01-06 00:00:00.000000  108.800003
 2010-01-07 00:00:00.000000  107.150002
 2010-01-08 00:00:00.000000  106.589996
 ...                                ...
 2024-09-03 00:00:00.000000   26.740000
 2024-09-04 00:00:00.000000   25.889999
 2024-09-05 00:00:00.000000   25.969999
 2024-09-06 00:00:00.000000   25.240000
 2024-09-09 00:00:00.000000   24.920000

 [3695 rows x 1 columns],
                                  Close
 Date
 2010-01-04 00:00:00.000000    7.643214
 2010-01-05 00:00:00.000000    7.656429
 2010-01-06 00:00:00.000000    7.534643
 2010-01-07 00:00:00.000000    7.520714

In [14]:
import ta.momentum
import ta.trend

def macd_decision(df):
    df['MACD_diff'] = ta.trend.macd_diff(df['Close'])
    df.loc[ (df['MACD_diff'] > 0) & (df['MACD_diff'].shift(1) < 0),'Decision'] = 'Buy'

def rsi_decision (df):
    df['RSI'] = ta.momentum.rsi(df['Close'], window = 10)
    df['SMA200'] = ta.trend.sma_indicator(df['Close'], window = 200)
    df.loc[(df['Close'] > df['SMA200']) & (df['RSI'] < 30) ,'Decision RSI/SMA'] = 'Buy'

In [15]:
for i in framelist:
    macd_decision(i)
    rsi_decision(i)

ValueError: cannot set a frame with no defined index and a scalar

In [10]:
framelist

[                            Date       Close  MACD_diff Decision        RSI  \
 0     2010-01-04 00:00:00.000000   69.414719        NaN      NaN        NaN
 1     2010-01-05 00:00:00.000000   68.979935        NaN      NaN        NaN
 2     2010-01-06 00:00:00.000000   69.958191        NaN      NaN        NaN
 3     2010-01-07 00:00:00.000000   70.008362        NaN      NaN        NaN
 4     2010-01-08 00:00:00.000000   70.501671        NaN      NaN        NaN
 ...                          ...         ...        ...      ...        ...
 3690  2024-09-03 00:00:00.000000  130.850006  -0.316152      NaN  60.411282
 3691  2024-09-04 00:00:00.000000  132.149994  -0.399227      NaN  63.957539
 3692  2024-09-05 00:00:00.000000  131.399994  -0.521065      NaN  60.484404
 3693  2024-09-06 00:00:00.000000  128.600006  -0.790448      NaN  49.364584
 3694  2024-09-09 00:00:00.000000  128.460007  -0.966634      NaN  48.865488

          SMA200 Decision RSI/SMA
 0           NaN              NaN
 1           NaN              NaN
 2           NaN              NaN
 3           NaN              NaN
 4           NaN              NaN
 ...         ...              ...
 3690  95.695177              NaN
 3691  95.951161              NaN
 3692  96.208036              NaN
 3693  96.452457              NaN
 3694  96.697684              NaN

 [3695 rows x 7 columns],
                             Date      Close  MACD_diff Decision        RSI  \
 0     2010-01-04 00:00:00.000000   7.435000        NaN      NaN        NaN
 1     2010-01-05 00:00:00.000000   7.340000        NaN      NaN        NaN
 2     2010-01-06 00:00:00.000000   7.343333        NaN      NaN        NaN
 3     2010-01-07 00:00:00.000000   7.365000        NaN      NaN        NaN
 4     2010-01-08 00:00:00.000000   7.473333        NaN      NaN        NaN
 ...                          ...        ...        ...      ...        ...
 3690  2024-09-03 00:00:00.000000  81.260002   0.276427      NaN  46.625193
 3691  2024-09-04 00:00:00.000000  80.349998   0.136283      NaN  42.103657
 3692  2024-09-05 00:00:00.000000  77.860001  -0.113985      NaN  32.516625
 3693  2024-09-06 00:00:00.000000  76.910004  -0.321619      NaN  29.654218
 3694  2024-09-09 00:00:00.000000  77.889999  -0.367746      NaN  36.101493

         SMA200 Decision RSI/SMA
 0          NaN              NaN
 1          NaN              NaN
 2          NaN              NaN
 3          NaN              NaN
 4          NaN              NaN
 ...        ...              ...
 3690  82.57565              NaN
 3691  82.60240              NaN
 3692  82.61350              NaN
 3693  82.61615              NaN
 3694  82.62505              NaN

 [3695 rows x 7 columns],
                             Date       Close  MACD_diff Decision        RSI  \
 0     2010-01-04 00:00:00.000000   26.129908        NaN      NaN        NaN
 1     2010-01-05 00:00:00.000000   25.918797        NaN      NaN        NaN
 2     2010-01-06 00:00:00.000000   26.062737        NaN      NaN        NaN
 3     2010-01-07 00:00:00.000000   26.278646        NaN      NaN        NaN
 4     2010-01-08 00:00:00.000000   26.412991        NaN      NaN        NaN
 ...                          ...         ...        ...      ...        ...
 3690  2024-09-03 00:00:00.000000  114.660004   0.107136      NaN  74.560473
 3691  2024-09-04 00:00:00.000000  114.400002   0.104653      NaN  71.752342
 3692  2024-09-05 00:00:00.000000  113.099998  -0.001472      NaN  59.336986
 3693  2024-09-06 00:00:00.000000  113.860001  -0.035525      NaN  63.445560
 3694  2024-09-09 00:00:00.000000  116.430000   0.092970      Buy  73.504286

          SMA200 Decision RSI/SMA
 0           NaN              NaN
 1           NaN              NaN
 2           NaN              NaN
 3           NaN              NaN
 4           NaN              NaN
 ...         ...              ...
 3690  108.86560              NaN
 3691  108.94760              NaN
 3692  109.01180              NaN
 3693  109.08335              NaN
 3694  109.15950              NaN

 [3695 rows x 7 columns],
                             Date       Close  MACD_diff Decision        RSI  \
 0     2013-01-02 00:00:00.000000   35.119999        NaN      NaN        NaN
 1     2013-01-03 00:00:00.000000   34.830002        NaN      NaN        NaN
 2     2013-01-04 00:00:00.000000   34.389999        NaN      NaN        NaN
 3     2013-01-07 00:00:00.000000   34.459999        NaN      NaN        NaN
 4     2013-01-08 00:00:00.000000   33.709999        NaN      NaN        NaN
 ...                          ...         ...        ...      ...        ...
 2936  2024-09-03 00:00:00.000000  197.690002  -0.578061      NaN  70.458000
 2937  2024-09-04 00:00:00.000000  197.009995  -0.604494      NaN  66.169510
 2938  2024-09-05 00:00:00.000000  192.860001  -0.896050      NaN  46.838075
 2939  2024-09-06 00:00:00.000000  193.399994  -1.037150      NaN  48.992534
 2940  2024-09-09 00:00:00.000000  196.419998  -0.915918      NaN  59.253809

          SMA200 Decision RSI/SMA
 0           NaN              NaN
 1           NaN              NaN
 2           NaN              NaN
 3           NaN              NaN
 4           NaN              NaN
 ...         ...              ...
 2936  168.77390              NaN
 2937  169.07095              NaN
 2938  169.34385              NaN
 2939  169.61935              NaN
 2940  169.90990              NaN

 [2941 rows x 7 columns],
                             Date       Close  MACD_diff Decision        RSI  \
 0     2010-01-04 00:00:00.000000   42.070000        NaN      NaN        NaN
 1     2010-01-05 00:00:00.000000   42.330002        NaN      NaN        NaN
 2     2010-01-06 00:00:00.000000   42.779999        NaN      NaN        NaN
 3     2010-01-07 00:00:00.000000   42.740002        NaN      NaN        NaN
 4     2010-01-08 00:00:00.000000   42.570000        NaN      NaN        NaN
 ...                          ...         ...        ...      ...        ...
 3690  2024-09-03 00:00:00.000000  341.880005   1.090154      NaN  71.539282
 3691  2024-09-04 00:00:00.000000  343.989990   1.059470      NaN  73.959541
 3692  2024-09-05 00:00:00.000000  340.929993   0.741847      NaN  65.046264
 3693  2024-09-06 00:00:00.000000  339.839996   0.385058      NaN  62.084908
 3694  2024-09-09 00:00:00.000000  341.809998   0.216827      NaN  65.260943

          SMA200 Decision RSI/SMA
 0           NaN              NaN
 1           NaN              NaN
 2           NaN              NaN
 3           NaN              NaN
 4           NaN              NaN
 ...         ...              ...
 3690  332.75335              NaN
 3691  332.84580              NaN
 3692  332.91385              NaN
 3693  332.97390              NaN
 3694  333.02845              NaN

 [3695 rows x 7 columns],
                             Date       Close  MACD_diff Decision        RSI  \
 0     2010-01-04 00:00:00.000000   37.090000        NaN      NaN        NaN
 1     2010-01-05 00:00:00.000000   37.700001        NaN      NaN        NaN
 2     2010-01-06 00:00:00.000000   37.619999        NaN      NaN        NaN
 3     2010-01-07 00:00:00.000000   36.889999        NaN      NaN        NaN
 4     2010-01-08 00:00:00.000000   36.689999        NaN      NaN        NaN
 ...                          ...         ...        ...      ...        ...
 3690  2024-09-03 00:00:00.000000  571.039978   1.918216      NaN  62.985032
 3691  2024-09-04 00:00:00.000000  575.250000   1.863694      NaN  65.698507
 3692  2024-09-05 00:00:00.000000  567.929993   1.199699      NaN  57.548350
 3693  2024-09-06 00:00:00.000000  563.409973   0.364459      NaN  53.034422
 3694  2024-09-09 00:00:00.000000  569.880005   0.166201      NaN  58.243591

           SMA200 Decision RSI/SMA
 0            NaN              NaN
 1            NaN              NaN
 2            NaN              NaN
 3            NaN              NaN
 4            NaN              NaN
 ...          ...              ...
 3690  545.555049              NaN
 3691  545.454749              NaN
 3692  545.284099              NaN
 3693  545.087849              NaN
 3694  544.873749              NaN

 [3695 rows x 7 columns],
                             Date       Close  MACD_diff Decision        RSI  \
 0     2010-01-04 00:00:00.000000    9.700000        NaN      NaN        NaN
 1     2010-01-05 00:00:00.000000    9.710000        NaN      NaN        NaN
 2     2010-01-06 00:00:00.000000    9.570000        NaN      NaN        NaN
 3     2010-01-07 00:00:00.000000    9.470000        NaN      NaN        NaN
 4     2010-01-08 00:00:00.000000    9.430000        NaN      NaN        NaN
 ...                          ...         ...        ...      ...        ...
 3690  2024-09-03 00:00:00.000000  136.940002  -0.219337      NaN  36.429302
 3691  2024-09-04 00:00:00.000000  140.869995  -0.495541      NaN  42.570060
 3692  2024-09-05 00:00:00.000000  139.440002  -0.727019      NaN  40.970020
 3693  2024-09-06 00:00:00.000000  134.350006  -1.150246      NaN  35.667947
 3694  2024-09-09 00:00:00.000000  138.149994  -1.101511      NaN  41.904496

          SMA200 Decision RSI/SMA
 0           NaN              NaN
 1           NaN              NaN
 2           NaN              NaN
 3           NaN              NaN
 4           NaN              NaN
 ...         ...              ...
 3690  158.35150              NaN
 3691  158.46585              NaN
 3692  158.56390              NaN
 3693  158.63255              NaN
 3694  158.71565              NaN

 [3695 rows x 7 columns],
                             Date      Close  MACD_diff Decision        RSI  \
 0     2010-01-04 00:00:00.000000  13.670000        NaN      NaN        NaN
 1     2010-01-05 00:00:00.000000  13.530000        NaN      NaN        NaN
 2     2010-01-06 00:00:00.000000  13.390000        NaN      NaN        NaN
 3     2010-01-07 00:00:00.000000  13.400000        NaN      NaN        NaN
 4     2010-01-08 00:00:00.000000  13.780000        NaN      NaN        NaN
 ...                          ...        ...        ...      ...        ...
 3690  2024-09-03 00:00:00.000000  16.750000  -0.013386      NaN  36.360552
 3691  2024-09-04 00:00:00.000000  16.940001  -0.026860      NaN  41.901925
 3692  2024-09-05 00:00:00.000000  16.940001  -0.033230      NaN  41.901925
 3693  2024-09-06 00:00:00.000000  16.190001  -0.082601      NaN  29.418517
 3694  2024-09-09 00:00:00.000000  16.200001  -0.107647      NaN  29.728675

         SMA200 Decision RSI/SMA
 0          NaN              NaN
 1          NaN              NaN
 2          NaN              NaN
 3          NaN              NaN
 4          NaN              NaN
 ...        ...              ...
 3690  17.80590              NaN
 3691  17.80555              NaN
 3692  17.80570              NaN
 3693  17.80160              NaN
 3694  17.79655              NaN

 [3695 rows x 7 columns],
                             Date       Close  MACD_diff Decision        RSI  \
 0     2010-01-04 00:00:00.000000   23.785000        NaN      NaN        NaN
 1     2010-01-05 00:00:00.000000   24.475000        NaN      NaN        NaN
 2     2010-01-06 00:00:00.000000   24.690001        NaN      NaN        NaN
 3     2010-01-07 00:00:00.000000   24.955000        NaN      NaN        NaN
 4     2010-01-08 00:00:00.000000   24.705000        NaN      NaN        NaN
 ...                          ...         ...        ...      ...        ...
 3690  2024-09-03 00:00:00.000000  109.070000   0.153821      NaN  75.177334
 3691  2024-09-04 00:00:00.000000  110.489998   0.128193      NaN  79.086084
 3692  2024-09-05 00:00:00.000000  109.690002   0.023134      NaN  71.989998
 3693  2024-09-06 00:00:00.000000  108.889999  -0.126255      NaN  65.463508
 3694  2024-09-09 00:00:00.000000  109.400002  -0.211711      NaN  67.547489

         SMA200 Decision RSI/SMA
 0          NaN              NaN
 1          NaN              NaN
 2          NaN              NaN
 3          NaN              NaN
 4          NaN              NaN
 ...        ...              ...
 3690  86.94320              NaN
 3691  87.09355              NaN
 3692  87.23645              NaN
 3693  87.37205              NaN
 3694  87.51320              NaN

 [3695 rows x 7 columns],
                             Date       Close  MACD_diff Decision        RSI  \
 0     2010-01-04 00:00:00.000000   22.389128        NaN      NaN        NaN
 1     2010-01-05 00:00:00.000000   22.145924        NaN      NaN        NaN
 2     2010-01-06 00:00:00.000000   22.067240        NaN      NaN        NaN
 3     2010-01-07 00:00:00.000000   22.038628        NaN      NaN        NaN
 4     2010-01-08 00:00:00.000000   22.031473        NaN      NaN        NaN
 ...                          ...         ...        ...      ...        ...
 3690  2024-09-03 00:00:00.000000  138.960007  -0.042271      NaN  47.427785
 3691  2024-09-04 00:00:00.000000  138.160004  -0.265659      NaN  44.405570
 3692  2024-09-05 00:00:00.000000  138.360001  -0.392723      NaN  45.372496
 3693  2024-09-06 00:00:00.000000  137.199997  -0.538649      NaN  40.799412
 3694  2024-09-09 00:00:00.000000  138.089996  -0.556694      NaN  45.483572

          SMA200 Decision RSI/SMA
 0           NaN              NaN
 1           NaN              NaN
 2           NaN              NaN
 3           NaN              NaN
 4           NaN              NaN
 ...         ...              ...
 3690  136.43400              NaN
 3691  136.55680              NaN
 3692  136.67765              NaN
 3693  136.79790              NaN
 3694  136.91845              NaN

 [3695 rows x 7 columns],
                             Date       Close  MACD_diff Decision        RSI  \
 0     2010-01-04 00:00:00.000000   76.928772        NaN      NaN        NaN
 1     2010-01-05 00:00:00.000000   76.290474        NaN      NaN        NaN
 2     2010-01-06 00:00:00.000000   75.661423        NaN      NaN        NaN
 3     2010-01-07 00:00:00.000000   75.226639        NaN      NaN        NaN
 4     2010-01-08 00:00:00.000000   75.707680        NaN      NaN        NaN
 ...                          ...         ...        ...      ...        ...
 3690  2024-09-03 00:00:00.000000  275.190002  -0.414793      NaN  49.611195
 3691  2024-09-04 00:00:00.000000  274.670013  -0.566561      NaN  48.327743
 3692  2024-09-05 00:00:00.000000  273.549988  -0.725695      NaN  45.510019
 3693  2024-09-06 00:00:00.000000  268.709991  -1.116850      NaN  35.556164
 3694  2024-09-09 00:00:00.000000  273.820007  -0.995394      NaN  48.714804

          SMA200 Decision RSI/SMA
 0           NaN              NaN
 1           NaN              NaN
 2           NaN              NaN
 3           NaN              NaN
 4           NaN              NaN
 ...         ...              ...
 3690  256.88675              NaN
 3691  256.89200              NaN
 3692  256.89175              NaN
 3693  256.88535              NaN
 3694  256.89370              NaN

 [3695 rows x 7 columns],
                            Date       Close  MACD_diff Decision        RSI  \
 0    2020-12-10 00:00:00.000000  144.710007        NaN      NaN        NaN
 1    2020-12-11 00:00:00.000000  139.250000        NaN      NaN        NaN
 2    2020-12-14 00:00:00.000000  130.000000        NaN      NaN        NaN
 3    2020-12-15 00:00:00.000000  124.800003        NaN      NaN        NaN
 4    2020-12-16 00:00:00.000000  137.990005        NaN      NaN        NaN
 ..                          ...         ...        ...      ...        ...
 936  2024-09-03 00:00:00.000000  114.980003   0.989977      NaN  36.117083
 937  2024-09-04 00:00:00.000000  115.209999   0.948872      NaN  36.978314
 938  2024-09-05 00:00:00.000000  116.160004   0.986131      NaN  40.650429
 939  2024-09-06 00:00:00.000000  114.279999   0.887702      NaN  36.033781
 940  2024-09-09 00:00:00.000000  116.360001   0.960081      NaN  43.870196

          SMA200 Decision RSI/SMA
 0           NaN              NaN
 1           NaN              NaN
 2           NaN              NaN
 3           NaN              NaN
 4           NaN              NaN
 ..          ...              ...
 936  145.232375              NaN
 937  145.166675              NaN
 938  145.116075              NaN
 939  145.051725              NaN
 940  144.985025              NaN

 [941 rows x 7 columns],
                             Date       Close  MACD_diff Decision        RSI  \
 0     2010-01-04 00:00:00.000000   25.920000        NaN      NaN        NaN
 1     2010-01-05 00:00:00.000000   26.690001        NaN      NaN        NaN
 2     2010-01-06 00:00:00.000000   26.469999        NaN      NaN        NaN
 3     2010-01-07 00:00:00.000000   26.480000        NaN      NaN        NaN
 4     2010-01-08 00:00:00.000000   26.480000        NaN      NaN        NaN
 ...                          ...         ...        ...      ...        ...
 3690  2024-09-03 00:00:00.000000   99.959999  -0.208934      NaN  50.093263
 3691  2024-09-04 00:00:00.000000  100.129997  -0.287004      NaN  50.933786
 3692  2024-09-05 00:00:00.000000   99.120003  -0.399838      NaN  45.837605
 3693  2024-09-06 00:00:00.000000   96.540001  -0.627829      NaN  35.699451
 3694  2024-09-09 00:00:00.000000   95.070000  -0.843777      NaN  31.314740

          SMA200 Decision RSI/SMA
 0           NaN              NaN
 1           NaN              NaN
 2           NaN              NaN
 3           NaN              NaN
 4           NaN              NaN
 ...         ...              ...
 3690  105.41045              NaN
 3691  105.35080              NaN
 3692  105.28955              NaN
 3693  105.21040              NaN
 3694  105.12340              NaN

 [3695 rows x 7 columns],
                             Date      Close  MACD_diff Decision        RSI  \
 0     2010-01-04 00:00:00.000000  38.090000        NaN      NaN        NaN
 1     2010-01-05 00:00:00.000000  38.020000        NaN      NaN        NaN
 2     2010-01-06 00:00:00.000000  38.090000        NaN      NaN        NaN
 3     2010-01-07 00:00:00.000000  37.820000        NaN      NaN        NaN
 4     2010-01-08 00:00:00.000000  38.389999        NaN      NaN        NaN
 ...                          ...        ...        ...      ...        ...
 3690  2024-09-03 00:00:00.000000  84.120003   1.082571      NaN  44.571848
 3691  2024-09-04 00:00:00.000000  84.750000   0.746834      NaN  45.995951
 3692  2024-09-05 00:00:00.000000  82.599998   0.371539      NaN  41.912631
 3693  2024-09-06 00:00:00.000000  76.900002  -0.236275      NaN  33.224196
 3694  2024-09-09 00:00:00.000000  78.410004  -0.497301      NaN  37.064393

          SMA200 Decision RSI/SMA
 0           NaN              NaN
 1           NaN              NaN
 2           NaN              NaN
 3           NaN              NaN
 4           NaN              NaN
 ...         ...              ...
 3690  115.74965              NaN
 3691  115.53480              NaN
 3692  115.33480              NaN
 3693  115.08235              NaN
 3694  114.82260              NaN

 [3695 rows x 7 columns],
                             Date       Close  MACD_diff Decision        RSI  \
 0     2010-01-04 00:00:00.000000   63.549999        NaN      NaN        NaN
 1     2010-01-05 00:00:00.000000   62.880001        NaN      NaN        NaN
 2     2010-01-06 00:00:00.000000   62.549999        NaN      NaN        NaN
 3     2010-01-07 00:00:00.000000   63.130001        NaN      NaN        NaN
 4     2010-01-08 00:00:00.000000   62.919998        NaN      NaN        NaN
 ...                          ...         ...        ...      ...        ...
 3690  2024-09-03 00:00:00.000000  118.430000   0.469284      NaN  52.699387
 3691  2024-09-04 00:00:00.000000  117.589996   0.302510      NaN  49.525012
 3692  2024-09-05 00:00:00.000000  117.379997   0.166909      NaN  48.709999
 3693  2024-09-06 00:00:00.000000  116.290001   0.001414      NaN  44.487738
 3694  2024-09-09 00:00:00.000000  118.250000   0.020499      NaN  52.682513

          SMA200 Decision RSI/SMA